html{
    height: 100%;
}
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
.body-home{
    background-image: url('images/bg-port.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.body-meals{
    background-image: url('images/background-02-port.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.body-breakfast2{
	background-image: url('images/burger.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.body-breakfast5{
	background-image: url('images/desserts.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.body-breakfast6{
	background-image: url('images/shakes.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

/* ============== HOME PAGE =============== */

#home-logo-img{
    width: 150px;
    display: block;
    margin: auto;
    padding: 25px 10px 10px 10px;
}
#home-logo-text{
    width: auto;
    display: block;
    margin: auto;
    padding: 25px;
}
/* ======= HOME PAGE MENU ========= */
.home-menu-item{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 5px solid black;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
}

/* ============== HEADER =============== */
.header{
    background-color: green;
    width: 100%;
    height: 70px;
    top: 0;
    position: fixed;
    overflow: hidden;
    text-align: center;
}
.header i{
    float: left;
    padding: 17px 0px 0px 17px;
    color: #ffffff;
}
.header img{
    width: 150px;
    padding-top: 14px;
    padding-right: 25px;
}

/* ============ MEALS PAGE  ============== */

#meals{
    padding-top: 50px;
}

/* ======== MEALS PAGE MENU ========= */
.meals-list a{
    text-decoration: none;
}
.meals-list-item{
    border: 5px solid white;
    margin: 20px 10px -10px 10px;
}
.meals-list-item h1{
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding-left: 10px;
}
.meals-list-item i{
    float: right;
    color: white;
    padding-right: 10px;
    padding-top: 15px;
}
.meals-list-item p{
    font-size: 15px;
    font-style: italic;
    color: green;
    margin-top: -7px;
    padding-left: 10px;
}
/*=============== RECIPE PAGE =================*/

#recipe{
	padding: 50px;
}

/*=============== RECIPE DETAILS =================*/

.recipe-details img{
   width: 100%;
   margin-top: 20px;
}
textarea{
    width: 100%;
    height: 65px;
    margin: 12px 0;
    border: 1px solid #929292;
}    
.recipe-details h1{
	font-size: 20px;
	text-align: center;
	border: 5px solid black;
	margin: 10px;
	padding: 5px;
	
}

.recipe-details-servings h2{
	padding-top: 5px;
	font-size: 15px;
	text-align: left;
	margin-left: 5px;
}

.recicipe-details-info{
	margin-left: 25px;
	margin-right: 25px;
}

.recipe-details-info p{
	
	display: inline-block;
	
}

.recipe-details-servings label{
	margin-left: 10px;
}

.order h1{
    text-align: center;
    margin: 50px;
    padding: 25px;
    align-items: center;
}
.home-button{
    margin-left: 175px;
}

/*=============== RESPONSIVE LAYOUT =================*/

@media only screen and (min-width: 600px){
	#breakfast{
		width: 80%;
		margin: auto;
	}
	
	#recipe{
		width: 80%;
		margin: auto;
	}
}

@media only screen and (min-width: 1000px){
	#breakfast{
		width: 60%;
		margin: auto;
	}
	
	#recipe{
		width: 60%;
		margin: auto;
	}
}

@media only screen and (min-width: 1500px){
	#breakfast{
		width: 40%;
		margin: auto;
	}
	
	#recipe{
		width: 40%;
		margin: auto;
	}
}